.vs/SU25_PRN232_SE1731_ASM2_SE183586_AnVT/CopilotIndices/17.14.670.39694
.vs/SU25_PRN232_SE1731_ASM2_SE183586_AnVT/DesignTimeBuild
.vs/SU25_PRN232_SE1731_ASM2_SE183586_AnVT/v17
net8.0
FileContentIndex
obj
SU25_PRN232_SE1731_ASM2_SE183586_AnVT.slnLaunch.user
ProjectEvaluation
SmokeQuit.GraphQLClients.BlazorWAS.AnVT/SmokeQuit.GraphQLClients.BlazorWAS.AnVT.csproj.user
*.csproj
